#page-menu-bar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/navbar.gif) center center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 980px; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 30px
}
#page-menu-bar A {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #d9d9d9; TEXT-DECORATION: none
}
#page-menu-bar A:visited {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #d9d9d9; TEXT-DECORATION: none
}
#page-menu-bar A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
#page-menu LI:hover {
	BACKGROUND: #333
}
#page-menu LI A {
	BORDER-RIGHT: #444 1px solid; PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 9px; FONT-FAMILY: Arial, Tahoma, Verdana
}
#page-menu LI A:link {
	BORDER-RIGHT: #444 1px solid; PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 9px; FONT-FAMILY: Arial, Tahoma, Verdana
}
#page-menu LI A:visited {
	BORDER-RIGHT: #444 1px solid; PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 9px; FONT-FAMILY: Arial, Tahoma, Verdana
}
#page-menu LI A:hover {
	BACKGROUND: #333; COLOR: #fff; TEXT-DECORATION: none
}
#page-menu LI.current_page_item A {
	BACKGROUND: #333; COLOR: #fff; TEXT-DECORATION: none
}
#page-menu LI.current_page_ancestor A {
	BACKGROUND: #333; COLOR: #fff; TEXT-DECORATION: none
}
#page-menu LI UL LI A {
	PADDING-RIGHT: 12px; BORDER-TOP: #a6a6a6 1px solid; PADDING-LEFT: 12px; BACKGROUND: #333; FLOAT: none; PADDING-BOTTOM: 7px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: 150px; COLOR: #fff; PADDING-TOP: 7px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#page-menu LI UL LI A:link {
	PADDING-RIGHT: 12px; BORDER-TOP: #a6a6a6 1px solid; PADDING-LEFT: 12px; BACKGROUND: #333; FLOAT: none; PADDING-BOTTOM: 7px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: 150px; COLOR: #fff; PADDING-TOP: 7px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#page-menu LI UL LI A:visited {
	PADDING-RIGHT: 12px; BORDER-TOP: #a6a6a6 1px solid; PADDING-LEFT: 12px; BACKGROUND: #333; FLOAT: none; PADDING-BOTTOM: 7px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; WIDTH: 150px; COLOR: #fff; PADDING-TOP: 7px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#page-menu LI UL LI A:hover {
	BACKGROUND: gray; COLOR: #fff; TEXT-DECORATION: none
}
#page-menu LI UL LI.current_page_item A {
	BACKGROUND: gray; COLOR: #fff; TEXT-DECORATION: none
}
#page-menu LI UL LI.current_page_ancestor A {
	BACKGROUND: gray; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu-bar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #333; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 980px; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 25px
}
#cate-menu LI:hover {
	BACKGROUND: #d38f8d
}
#cate-menu LI A {
	BORDER-RIGHT: #8f8f8f 1px solid; PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 6px; FONT-FAMILY: Arial, Tahoma, Verdana
}
#cate-menu LI A:link {
	BORDER-RIGHT: #8f8f8f 1px solid; PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 6px; FONT-FAMILY: Arial, Tahoma, Verdana
}
#cate-menu LI A:visited {
	BORDER-RIGHT: #8f8f8f 1px solid; PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 6px; FONT-FAMILY: Arial, Tahoma, Verdana
}
#cate-menu LI A:hover {
	BACKGROUND: #d38f8d; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI.current-cat A {
	BACKGROUND: #d38f8d; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI.current-cat-parent A {
	BACKGROUND: #d38f8d; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 140px; PADDING-TOP: 0px
}
#page-menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#page-menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cate-menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cate-menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#page-menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#cate-menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#page-menu LI UL {
	Z-INDEX: 999999; LEFT: -999em; WIDTH: 10em; POSITION: absolute
}
#cate-menu LI UL.children {
	Z-INDEX: 999999; LEFT: -999em; WIDTH: 10em; POSITION: absolute
}
#page-menu LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px
}
#page-menu LI UL LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px
}
#page-menu LI UL LI UL LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px
}
#page-menu LI UL LI UL {
	MARGIN: -28px 0px 0px 174px; BORDER-LEFT: #a6a6a6 1px solid
}
#page-menu LI UL LI UL LI UL {
	MARGIN: -28px 0px 0px 174px; BORDER-LEFT: #a6a6a6 1px solid
}
#page-menu LI UL LI UL LI A {
	BACKGROUND: #333
}
#page-menu LI UL LI UL LI A:link {
	BACKGROUND: #333
}
#page-menu LI UL LI UL LI A:visited {
	BACKGROUND: #333
}
#page-menu LI UL LI UL LI UL LI A {
	BACKGROUND: #333
}
#page-menu LI UL LI UL LI UL LI A:link {
	BACKGROUND: #333
}
#page-menu LI UL LI UL LI UL LI A:visited {
	BACKGROUND: #333
}
#page-menu LI UL LI UL LI A:hover {
	BACKGROUND: gray
}
#page-menu LI UL LI UL LI.current_page_item A {
	BACKGROUND: gray
}
#page-menu LI UL LI UL LI.current_page_ancestor A {
	BACKGROUND: gray
}
#page-menu LI UL LI UL LI UL LI A:hover {
	BACKGROUND: gray
}
#page-menu LI UL LI UL LI UL LI.current_page_item A {
	BACKGROUND: gray
}
#page-menu LI UL LI UL LI UL LI.current_page_ancestor A {
	BACKGROUND: gray
}
#page-menu LI:hover UL UL {
	LEFT: -999em
}
#page-menu LI:hover UL UL UL {
	LEFT: -999em
}
#page-menu LI:hover UL UL UL UL {
	LEFT: -999em
}
#page-menu LI.sfhover UL UL {
	LEFT: -999em
}
#page-menu LI.sfhover UL UL UL {
	LEFT: -999em
}
#page-menu LI.sfhover UL UL UL UL {
	LEFT: -999em
}
#cate-menu LI:hover UL UL {
	LEFT: -999em
}
#cate-menu LI:hover UL UL UL {
	LEFT: -999em
}
#cate-menu LI:hover UL UL UL UL {
	LEFT: -999em
}
#cate-menu LI.sfhover1 UL UL {
	LEFT: -999em
}
#cate-menu LI.sfhover1 UL UL UL {
	LEFT: -999em
}
#cate-menu LI.sfhover1 UL UL UL UL {
	LEFT: -999em
}
#page-menu LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#page-menu LI LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#page-menu LI LI LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#page-menu LI LI LI LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#page-menu LI.sfhover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#page-menu LI LI.sfhover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#page-menu LI LI LI.sfhover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#page-menu LI LI LI LI.sfhover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI LI LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI LI LI LI:hover UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI.sfhover1 UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI LI.sfhover1 UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI LI LI.sfhover1 UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI LI LI.sfhover1 UL {
	DISPLAY: block; Z-INDEX: 99999; LEFT: auto
}
#cate-menu LI UL.children LI A {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI A:link {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI A:visited {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI UL.children LI A {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI UL.children LI A:link {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI UL.children LI A:visited {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI UL.children LI UL.children LI A {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI UL.children LI UL.children LI A:link {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI UL.children LI UL.children LI A:visited {
	PADDING-RIGHT: 12px; BORDER-TOP: #bdbdbd 1px solid; PADDING-LEFT: 12px; BACKGROUND: #d38f8d; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 140px; COLOR: #fff; PADDING-TOP: 5px
}
#cate-menu LI UL.children LI A:hover {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI.current-cat A {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI.current-cat-parent A {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI UL.children LI A:hover {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI UL.children LI.current-cat A {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI UL.children LI.current-cat-parent A {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI UL.children LI UL.children LI A:hover {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI UL.children LI UL.children LI.current-cat A {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI UL.children LI UL.children LI.current-cat-parent A {
	BACKGROUND: #8f8f8f; COLOR: #fff; TEXT-DECORATION: none
}
#cate-menu LI UL.children LI UL.children {
	MARGIN: -24px 20px 20px 164px; BORDER-LEFT: #bdbdbd 1px solid
}
#cate-menu LI UL.children LI UL.children LI UL.children {
	MARGIN: -24px 20px 20px 164px; BORDER-LEFT: #bdbdbd 1px solid
}
