.fott {font-size:10px; color: #00CC99; }
.fott a { color: #00CC99; text-decoration: none; }
.fott a :focus, a:hover { color: #fff; }

.padding10 {padding-top:10px;}
.padding5 {padding-top:5px;}

.padding5right {padding-right:5px; padding-left:5px; color:#000}
.padding5right  a:hover  { color:#fff}

.left { float: left; }
.right { float: right; }

.span-90 { width: 62px; }
.span-120 { width: 120px; }
.span-200 { width: 280px; }

.span-270 { width: 200px; }
.span-480 { width: 490px; }




/* CSS Document */

*{	padding:0; 	margin:0;}  
body {	font-size:12px;	color:#000;	line-height:18px; font-family:Arial, Helvetica, sans-serif; background:url("ms_duaocsen-bg.gif") center top repeat;}
img{	border:0;}
ul, ol{ list-style:none}
ul, ol, li{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{	font-size:100%;}

 
a { color: #000; text-decoration: none; }
a:focus, a:hover { color: #615d3c; }





a.submenulink { color: #000; text-decoration: none; font-size: 11px; }

a.submenulink:focus, a.submenulink:hover { color: #000; }



a:focus { outline: 0; }



table, td, input, select, textarea{	font-size:100%; font-family:Arial, Helvetica, sans-serif; margin:0px;	padding:0px;}
p, form{ margin:0px; padding:0px;}
.clear{ clear:both;}
.text_color1{ color:#d9014d; font-weight:bold}
/*------------------------------- Layout: chua toan bo code html ------------------------------*/


#wrapper{ margin:0px; width:100%; overflow:hidden; background:url("ms_duaocsen-bottom.gif") left bottom repeat-x;}
#wrapper_bt{ margin:0px; width:100%; overflow:hidden; background:url("ms_duaocsen_footer.jpg") center bottom no-repeat;}

#container{ margin:0px auto; width:905px; overflow:hidden; position:relative}
/* toppage */
#container #toppage{ width:48px; height:101px; position:absolute; z-index:1; right:0;}

.nav2-bt{  background:url("toppage.png") left top no-repeat; height:101px;}
.nav2-bt .top a{ width:48px; margin:auto; height:101px; display:block; text-indent:-9999px}
#nav2-2{ width:48px; overflow:hidden; position:fixed; top:300px; }




#header{ width:834px; height:116px; margin:0px; margin-left:36px; overflow:hidden; background:url("header.jpg") left top no-repeat}

.logo{ width:260px; overflow:hidden; margin:0; float:left}
.logo p{ margin:0px 0 0 45px; padding-top:12px; overflow:hidden}
.logo p a:link,.logo p a:visited{ display:block; text-decoration:none; text-indent:-9999px; width:160px; height:70px;}
.logo p a:hover{ display:block; text-decoration:none; text-indent:-9999px; width:160px; height:70px;}

#box_menu{ width:573px; margin:0; overflow:hidden; float:right; background:url("ms_duaocsen-menu.png") left top no-repeat}
#menu{ width:300px; margin:14px 0 17px 33px; overflow:hidden}
#menu ul{ width:300px; margin:0; list-style:none; overflow:hidden}
#menu ul li{ float:left; margin:0; padding:0; list-style:none;}



.gioithieu a:link,
.gioithieu a:visited,
.gioithieu a:active{ display:block; background:url("ms_duaocsen_gioithieu.gif") left top no-repeat; width:100px; height:34px; text-decoration:none; text-indent:-9999px;}
.gioithieu a:hover{ display:block; background:url("ms_duaocsen_gioithieu.gif") left bottom no-repeat; width:100px; height:34px; text-decoration:none; text-indent:-9999px;}

.gioithieu a.act:link,
.gioithieu a.act:visited,
.gioithieu a.act:active,
.gioithieu a.act:hover{ display:block; background:url("ms_duaocsen_gioithieu.gif") left bottom no-repeat; width:100px; height:34px; text-decoration:none; text-indent:-9999px;}

.gioithieu a.off:link,
.gioithieu a.off:visited,
.gioithieu a.off:active,
.gioithieu a.off:hover{ display:block; background:url("ms_duaocsen_gioithieu-of.gif") left top no-repeat; width:100px; height:34px; text-decoration:none; text-indent:-9999px;}

.choithu a:link,
.choithu a:visited,
.choithu a:active{ display:block; background:url("ms_duaocsen_choithu.gif") left top no-repeat; width:98px; height:34px; text-decoration:none; text-indent:-9999px;}
.choithu a:hover{ display:block; background:url("ms_duaocsen_choithu.gif") left bottom no-repeat; width:98px; height:34px; text-decoration:none; text-indent:-9999px;}

.choithu a.act:link,
.choithu a.act:visited,
.choithu a.act:active,
.choithu a.act:hover{ display:block; background:url("ms_duaocsen_choithu.gif") left bottom no-repeat; width:98px; height:34px; text-decoration:none; text-indent:-9999px;}

.choithu a.off:link,
.choithu a.off:visited,
.choithu a.off:active,
.choithu a.off:hover{ display:block; background:url("ms_duaocsen_choithu-of.gif") left top no-repeat; width:98px; height:34px; text-decoration:none; text-indent:-9999px;}

.thamgia a:link,
.thamgia a:visited,
.thamgia a:active{ display:block; background:url("ms_duaocsen_thamgia.gif") left top no-repeat; width:102px; height:34px; text-decoration:none; text-indent:-9999px;}
.thamgia a:hover{ display:block; background:url("ms_duaocsen_thamgia.gif") left bottom no-repeat; width:102px; height:34px; text-decoration:none; text-indent:-9999px;}

.thamgia a.act:link,
.thamgia a.act:visited,
.thamgia a.act:active,
.thamgia a.act:hover{ display:block; background:url("ms_duaocsen_thamgia.gif") left bottom no-repeat; width:102px; height:34px; text-decoration:none; text-indent:-9999px;}

.thamgia a.off:link,
.thamgia a.off:visited,
.thamgia a.off:active,
.thamgia a.off:hover{ display:block; background:url("ms_duaocsen_thamgia-of.gif") left top no-repeat; width:102px; height:34px; text-decoration:none; text-indent:-9999px;  cursor:default;}
.sub_nomenu{ width:556px; height:27px; margin:0px; overflow:hidden; background:url("ms_duaocsen-nosubmenu.gif") left top no-repeat; display:block}

#box-menu2{  border-bottom:#c3cd53 solid 1px; height:22px; text-transform:capitalize}
#box-menu2-body {position:relative; float:left; left:50%;}




.bgsub_menu{ width:556px; height:27px; margin:0px; overflow:hidden; background:url("ms_duaocsen-submenu.gif") left top no-repeat; display:block}
#sub_menu{ margin:0px; overflow:hidden; padding:5px 20px 0 20px}
#sub_menu-body{position:relative; float:left; left:50%;}

ul#menu2-tab{ margin:0 ; padding:0; list-style-type:none;  position:relative; z-index:100;}
#menu2-tab { padding:0; position:relative; right:50%; float:left}


ul#menu2-tab li{ list-style:none; float:left; color:#ff6000; text-align:right}
ul#menu2-tab li a:link,
ul#menu2-tab li a:visited,
ul#menu2-tab li a:active{ color:#ff6000; font-weight:bold; padding:0 8px; text-decoration:none}
ul#menu2-tab li a:hover{ color:#c524cf; font-weight:bold; padding:0 8px; text-decoration:underline}

ul#menu2-tab li a.act:link,
ul#menu2-tab li a.act:visited,
ul#menu2-tab li a.act:active,
ul#menu2-tab li a.act:hover{ color:#c524cf; font-weight:bold; padding:0 8px; text-decoration:underline; cursor:default}

ul#menu2-tab li a.off:link,
ul#menu2-tab li a.off:visited,
ul#menu2-tab li a.off:active,
ul#menu2-tab li a.off:hover{ color:#ffe2b2; font-weight:bold; padding:0 8px; text-decoration:none; cursor:default}



#box_main_content{ width:834px; margin:0; margin-left:36px; background:url("ms_duaocsen-content.gif") left top repeat-y; }

#box_main{ width:834px; margin:0px; overflow:hidden; background:url("ms_duaocsen-btcontent.gif") center bottom no-repeat; }






#box_content-thamgia{ width:755px; margin:0px; margin-left:40px; overflow:hidden; padding-top:10px;}

.title_main{ width:550px; height:39px; overflow:hidden; margin-bottom:10px;}
.title_main p.gioithieu{ height:39px; background:url("duaocsen_title-gioithieu.gif") left top no-repeat; text-indent:-9999px;}
.title_main p.choithu{ height:39px; background:url("duaocsen_title-choithu.gif") left top no-repeat; text-indent:-9999px;}
.title_main p.thamgia{ height:39px; background:url("duaocsen_title-thamgia.gif") left top no-repeat; text-indent:-9999px;}
.title_main p.dangnhap{ height:39px; background:url("duaocsen_title-dangnhap.gif") left top no-repeat; text-indent:-9999px;}

.content_main { width:755px; margin:0px; padding-bottom:50px; overflow:hidden}


#footer{ margin:0px auto; width:834px; overflow:hidden;}
.footer_copyright{ width:515px; margin:0px; margin-left:180px; overflow:hidden; }
.footer_copyright p{ font-size:5px; line-height:13px; color:#000000; text-align:center; padding-top:79px; padding-bottom:35px;}



/*------------------------------- content-template ------------------------------*/


.text_main{ margin:0px; margin-bottom:10px; text-align:justify;}

.left{ float:left;}
.right{ float:right;}
.img-border{ border:#884f92 solid 2px}
.img-border1{ border:#e8e8e8 solid 1px; padding:2px}

.text-color1{ color:#CC0000; font-weight:bold;}
.text-color2{ color:#669900; font-weight:bold;}

.left-right10{ float:left; margin-right:10px; margin-bottom:10px;}
.right-left10{ float:right; margin-left:10px; margin-bottom:10px;}

.img_big p{ text-align:center; margin:0px auto; margin-bottom:10px; }

.first-char {
  float: left;
  padding: 4px 2px 0 0;
  display: block;
  color: #ad023f;
  font: 35px/25px Georgia, Times, serif;
}

.box_contenth2{ margin:0px 0px 0px 0px;  overflow:hidden; margin-bottom:5px;}
h2{ background:url("icon_h2.gif") left top no-repeat; text-align:left; text-indent:25px; line-height:18px; font-size:12px; color:#d9014d; font-weight:bold; padding:3px 0px 2px 0px;}

.h2_content{ margin:0px 10px 10px 25px; text-align:justify;}

.box_contenth3{ margin:0px 10px 0px 25px; overflow:hidden; margin-bottom:8px;}
h3{ background:url("icon_h3.gif") left top no-repeat; background-position:0 3px; text-align:left; line-height:16px; font-size:12px; color:#47b200; font-weight:bold; padding:1px 0 1px 0px; text-indent:15px;}

.h3_content{ margin:0px 10px 20px 38px; overflow:hidden; text-align:justify;}
.h3_content p.title_icon{ background:url("icon01.gif") left top no-repeat; background-position:0px 5px; color:#000; font-weight:bold; text-indent:12px; margin-bottom:8px;}

.box_noteh3{ margin:0px 10px 20px 20px; overflow:hidden; color:#a50034; font-size:11px; line-height:15px; text-align:justify;}

.h3_content ol{ margin:0px 20px 0px 40px; list-style-type:upper-alpha;}
.h3_content ol li{ margin-bottom:5px}

.h3_content ol.decimal{ margin:0px 20px 15px 40px; list-style-type:decimal;}
.h3_content ol.lower_alpha{ margin:0px 20px 0px 40px; list-style-type:lower-alpha;}
.h3_content ol.upper_lama{ margin:0px 20px 0px 40px; list-style-type:upper-roman;}

.h3_content ol li ol{ margin:5px 0 10px 30px;}
.h3_content ol li ol li{ margin-bottom:5px}

.h3_content ol li ol.decimal{ list-style-type:decimal; margin:5px 20px 10px 30px}
.h3_content ol li ol.lower_alpha{ list-style-type:lower-alpha; margin-left:20px;}
.h3_content ol li ol.upper_alpha{ list-style-type:upper-alpha; margin:5px 20px 10px 35px;}
.h3_content ol li ol.upper_lama{ list-style-type:upper-roman; margin:5px 20px 10px 30px;}

.h3_content ol li ul{ list-style-type:disc; margin:5px 20px 10px 30px;}
.h3_content ol li ul li{ margin-bottom:5px}

.h3_content ol li ul.icon_person{ list-style-type:none; margin:5px 20px 10px 10px;}
.h3_content ol li ul.icon_person li{ padding-left:15px; background:url("icon_person.gif") no-repeat}

.h3_content ul{ margin:0px 20px 0px 25px; list-style-type:disc;}
.h3_content ul li{ margin-bottom:5px}

.h3_content ul.icon_person{ list-style-type:none; margin:0px 20px 0px 15px;}
.h3_content ul.icon_person li{ padding-left:15px; background:url("icon_person.gif") no-repeat}

.h3_content ul li ul{ margin-left:25px; margin-bottom:0px; list-style-type:disc}
.h3_content ul li ul li{ margin-bottom:5px}

.h3_content ul li ul.icon_person{ list-style-type:none; margin:5px 20px 10px 10px;}
.h3_content ul li ul.icon_person li{ padding-left:15px; background:url("icon_person.gif") no-repeat}

.h3_content ul li ol{ margin:5px 0 10px 30px;}
.h3_content ul li ol li{ margin-bottom:5px}

.h3_content ul li ol.decimal{ list-style-type:decimal; margin:5px 0 10px 30px;}
.h3_content ul li ol.lower_alpha{ list-style-type:lower-alpha;  margin:5px 0 10px 30px;}

.box_mytable01{ margin:0px auto; overflow:hidden; margin-bottom:20px;}
.mytable01{ background:#842500; color:#333;}
.mytable_header{ background:#ff9900; color:#333; font-weight:bold; padding:4px;}
.mytable_rowlight{ background:#f6f6cd; padding:2px 5px 2px 5px;}
.mytable_rowdark{ background:#ffee9e; padding:2px 5px 2px 5px;}

#cach10 {margin-left:30px;margin-right:30px;margin-bottom:10px;}
#cach10-2{margin-left:30px;margin-right:30px;margin-bottom:10px;}
#cach11 {margin-right:30px;margin-right:30px;margin-bottom:10px;}
