
/* RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Tahoma" , Geneva, sans-serif;
    font-size:11px;
    color: #333;
}
.t12_blog{font-size:11px!important;}
ol, ul, li
{
    list-style: none;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
a:hover
{
    color: #3d3d3d;
}
blockquote, q
{
    quotes: none;
}
blockquote:befor e, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
.fl, .img_anh
{
    float: left !important;
}
.fr
{
    float: right !important;
}
.clear
{
    display: block;
    clear: both;
}
.red
{
    color: #F00 !important;
    font-size: 11px;
}
.mr10
{
    margin-right: 10px !important;
}
/* CSS Document */
body
{
    margin: 0;
    padding: 0;
}
.wraper, .main_content, .footer
{
    width: 980px;
    margin: auto;
}
.tophead
{
    width: 100%;
    background: #c7c7c7  bottom repeat-x;
    padding-top: 25px;
}
.bg_blog
{
    background: #FFF;
}
.w98pt
{
    width: 98% !important;
}
.w60
{
    width: 60px !important;
}
.w110
{
    width: 111px !important;
}
.w170
{
    width: 170px !important;
}
.w160
{
    width: 160px !important;
}
.w230
{
    width: 230px !important;
}
.w460
{
    width: 460px !important;
}
.w490
{
    width: 490px !important;
}
.w440
{
    width: 440px !important;
}
.w550
{
    width: 550px !important;
}
.w320
{
    width: 320px !important;
}
.w600
{
    width: 725px !important;
}
.w760
{
    float: left;
    width: 750px;
}
.w790
{
    width: 790px !important;
}
.w615
{
    width: 615px;
    float: left;
}
.ml
{
    margin-left: 10px !important;
}
.ml10
{
    margin-left: 10px !important;
}
.mt10
{
    margin-top: 10px !important;
}
.mt5
{
    margin-top: 5px !important;
}
.mr5
{
    margin-right: 5px !important;
}
.w420
{
    width: 416px !important;
}
.w480
{
    width: 480px !important;
}
.w360
{
    width: 360px !important;
}
.w200
{
    width: 200px !important;
}
.w500
{
    width: 500px !important;
}
.w520
{
    width: 520px !important;
}
.w540
{
    width: 530px !important;
}
.mga
{
    margin: auto !important;
}
.mt-120
{
    margin-top: -120px !important;
}
.fnone
{
    font-weight: normal !important;
}
/* GO STYLE HEAD */
/* END TOP BAR*/
/* BUTTON */
a.button
{
    border: 1px solid #007ebf;
    background: #43c1f9  bottom repeat-x;
    float: left;
}
a.button span
{
    padding: 2px 10px 2px 10px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    border-top: 1px solid #a1e6ff;
    border-bottom: 1px solid #0091dc;
    float: left;
    line-height: 17px;
}
a.button:hover
{
    background: #47b3e1  bottom repeat-x;
    cursor: pointer;
}
a.gray
{
    border: 1px solid #7f7f7f !important;
    background: #dfdfdf  bottom repeat-x !important;
}
a.gray span
{
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #a8a8a8;
    color: #737373;
}
a.gray:hover
{
    background: #dfdfdf  bottom repeat-x !important;
}
.go_button
{
    border: 1px solid #007ebf;
    background: #00adef;
    float: left;
}
.go_button span
{
    border-top: 1px solid #2ec4fc;
    line-height: 17px;
 top center no-repeat;
    float: left;
    padding: 0 22px 0 25px;
    background-position: center 4px;
    border-bottom: 1px solid #0091dc;
}
.go_button:hover
{
    background: #0098d6;
    cursor: pointer;
}
.go_button:hover span
{
    border-top: 1px solid #20a8df;
    border-bottom: 1px solid #0085c9;
}
.new_note
{
   top left no-repeat;
    background-position: 4px 1px;
    padding-left: 23px !important;
}
.back_button
{
    width: 14px;
    height: 14px;
    top left no-repeat;
    margin: 5px 2px 0 0;
    float: left;
    padding: 0 3px;
}
.back_button:hover
{
    background-position: 0 bottom;
}
/* MAIN CONTENT */
.col_left
{
    width: 190px;
    float: left;
    display: inline;
}
.col_right_center
{
    padding-top: 10px;
    width: 249px;
    float: right;
    display: inline;
}
.maincenter
{
    width: 520px;
    float: left;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
/* tung fix */
.right_mod
{
    width: 100%;
    margin: 10px 0 10px 0;
    float: left;
}
.top_right_link a
{
    font-size: 11px;
    color: #aab1b6;
    line-height: 18px;
    padding-left: 8px;
}
.top_right_link a:hover
{
    color: #3d3d3d;
    border-bottom: 1px dotted #3d3d3d;
}
.right_mod h3
{
    padding: 0 0 10px 0;
    font-size: 15px;
    font-weight: bolder;
}
ul.focus_event, ul.team_group
{
    width: 100%;
    font-size: 11px;
}
ul.focus_event li a, ul.team_group li a
{
    font-size: 11px;
    display: block;
}
ul.focus_event li a:hover, ul.team_group li a:hover
{
    color: #007ebf;
    background-color: #e9e9e9;
}
ul.focus_event li, ul.team_group li
{
    width: 100%;
    float: left;
    padding: 5px 0 5px 0;
}
.img_colright
{
    border: 1px solid #dfdfdf;
    padding: 1px;
    background: #FFF;
    display: block;
    margin-right: 5px;
    float: left;
}
.left_mod
{
    width: 100%;
    padding: 5px 0 5px 0;
    float: left;
    margin: 0px 0 10px 0;
    line-height: 16px;
}
/* tung fix */
.left_mod span
{
    color: #007ebf;
}
.left_mod h3
{
    font-weight: bold;
    color: #262525;
    font-size: 14px;
    line-height: 27px;
    font-family: tahoma;
    margin-bottom: 5px;
}

.left_mod h3#vote
{
    top left no-repeat;
    text-indent: 28px;
}
.left_mod h3#tygia
{
     top left no-repeat;
    text-indent: 28px;
}
a.go_vote
{
    width: 45px;
    height: 23px;
    background: #FFF  top left no-repeat;
    float: right;
    line-height: 23px;
    display: block;
}
a.gophoto
{
    width: 141px;
    height: 28px;
     top left no-repeat;
    display: block;
    float: right;
}
a.large_logo
{
    width: 113px;
    height: 89px;
    display: block;
    line-height: 89px;
     top left no-repeat;
    margin: 20px 0 20px 25px;
}
a.go_vote:hover, a.gophoto:hover, a.large_logo:hover
{
    background-position: bottom;
    cursor: pointer;
}
.left_mod .grayfont
{
    font-size: 11px;
    color: #b1b1b1;
}
.left_mod table.tygia
{
    width: 95%;
    border: 1px solid #a8a8a8;
    margin: 5px 0 5px 0;
    border-bottom: 0;
    border-right: 0;
    color: #999;
    text-indent: 10px;
}
/* tung fix */
.left_mod table.tygia td
{
    border-bottom: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
    width: 33%;
    font-size: 10px;
    line-height: 20px;
}
.left_mod .scroll
{
    width: 95%;
    height: 112px;
    overflow: auto;
}
/* tung fix */
.left_mod .scroll table
{
    border: 0;
    width: 95%;
}
.left_mod ul#vote
{
    width: 95%;
    margin-top: 10px;
}
/* tung fix */
.left_mod ul#vote li
{
    font-size: 11px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.left_mod .weather_box
{
    width: 180px;
    background: #e1e2e3;
    padding: 5px;
    font-size: 11px;
}
/* tung fix */
.left_mod .weather_box .right
{
    width: 125px;
    float: right;
}
.left_mod .weather_box .right select
{
    width: 105px;
    margin: 0;
    padding: 0;
}
.left_mod .weather_box .right .nhietdo
{
    margin: 5px 0 0 5px;
}
.left_mod .weather_box .info
{
    display: block;
    width: 120px;
    font-size: 11px;
    color: #3d3d3d;
    margin-top: 5px;
    float: left;
}
ul.left_nav
{
    width: 190px;
    margin: 0;
    padding: 0;
}
/*tung fix*/
ul.left_nav li
{
    width: 100%;
    float: left;
    text-indent: 10px;
}
ul.left_nav li ul
{
    width: 150px;
    float: right;
}
ul.left_nav li a:link, ul.left_nav li a:visited
{
    display: block;
    padding: 5px 0 5px 12px;
    background-color: #f5f5f5;
    border-top: solid 1px #e2e2e2;
    border-left: solid 1px #e2e2e2;
    font-weight: bold;
    ;
    background-repeat: no-repeat;
    background-position: 10px 9px;
}
/*tung fix*/
ul.left_nav li a:hover
{
    display: block;
    padding: 5px 0 5px 12px;
    background-color: #bfd9f3;
    border-top: solid 1px #e2e2e2;
    border-left: solid 1px #e2e2e2;
    font-weight: bold;
    ;
    background-repeat: no-repeat;
    background-position: 10px 9px;
}
/*tung fix*/
ul.left_nav div.active
{
    width: 100%;
    float: left;
    text-indent: 10px;
    display: block;
    font-weight: bold;
}
/*tung fix*/
#top_banner
{
    width: 520px;
     top left no-repeat;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 195px;
}
/*tung fix*/
#top_banner a.close
{
    color: #3a4045;
}
#top_banner a.close:hover
{
    color: #666;
}
#top_banner a.button
{
    width: 160px;
    height: 35px;
     top left no-repeat;
    float: right;
    margin: 170px 0 0 0;
    border: 0;
}
#top_banner a.button
{
    line-height: 35px;
    overflow: hidden;
}
#top_banner a.button:hover
{
    background-position: bottom;
    cursor: pointer;
}
ul.event_box
{
    margin-top: 20px;
    width: 520px;
}
/*tung fix*/
ul.event_box li
{
    border-bottom: 1px solid #d8d9da;
    padding: 10px 0 10px 0;
}
/*tung fix*/
ul.event_box li a
{
    color: #007ebf;
}
ul.event_box li a:hover
{
    color: #3d3d3d;
}
/* COMMENT BOX */
ul.cmmt
{
    width: 98%;
    float: left;
    background: #FFF  top left no-repeat;
    padding: 5px 0 0 0;
}
ul.cmmt li
{
    width: 100%;
    border-bottom: 1px solid #FFF;
    background: #efefef;
    padding: 5px 10px 5px 10px;
    float: left;
    font-size: 11px;
}
/*tung fix*/
ul.cmmt li a, ul.cmmt li p span
{
    font-size: 11px;
}
ul.cmmt li a
{
    color: #007ebf;
}
ul.cmmt li img
{
    margin: 3px 10px 0 0;
    float: left;
}
ul.cmmt li input
{
    background: #FFF;
    border: 1px solid #c7c7c7;
    padding: 5px;
    width: 420px;
    height: 15px;
    float: left;
    margin: 0 0 0 0;
    color: #949494;
    font-size: 11px !important;
}
/*tung fix*/
ul.cmmt li input.focus
{
    margin-top: 3px;
    height: 40px !important;
    color: #666;
    line-height: 16px;
}
ul.cmmt li p
{
    width: 380px;
    float: left;
    padding-bottom: 0 !important;
}
/*tung fix*/
ul.cmmt li p a.name
{
    font-weight: bold;
    margin-right: 3px;
}
ul.cmmt li p span
{
    color: #3d3d3d;
    line-height: 15px;
}
ul.cmmt li p span.date
{
    color: #777777 !important;
    float: left;
}
ul.cmmt li p span.set
{
    width: 50px;
    float: right;
    height: 14px;
    display: none;
}
ul.cmmt li:hover span.set
{
    display: block;
}
.if_cmmt
{
    width: 100%;
    line-height: 18px;
    font-size: 11px;
}
.if_cmmt a, .if_cmmt strong
{
    font-size: 11px;
}
.del, .err
{
    width: 14px;
    display: block;
    line-height: 14px !important;
    float: right;
    margin: 0 5px 0 0 !important;
     top left no-repeat;
}
.err:hover
{
    background-position: bottom !important;
}
.del:hover
{
    background-position: 0 -14px !important;
}
.del
{
    background-position: 0 0;
}
.err
{
    background-position: 0 -28px;
}
.edit
{
    width: 16px;
    height: 16px;
    line-height: 14px !important;
    float: right;
    margin: 0 5px 0 0 !important;
    display: block;
   top left no-repeat;
}
.edit:hover
{
    background-position: bottom;
}
/* END COMMENT BOX */

ul.event_box li.end
{
    border: 0;
}
ul.event_box li.seeall
{
    margin: 0;
    background: #eaeced;
    text-align: left;
    padding: 4px 0 4px 60px;
}
ul.event_box li.seeall a
{
    color: #3d3d3d;
    font-size: 11px;
    font-weight: bold;
}
/*tung fix*/
ul.event_box li.seeall a:hover
{
    color: #007ebf;
}
ul.event_box li img.avt
{
    margin-right: 5px;
    float: left;
    display: inherit;
}
ul.event_box li .right_info
{
    width: 440px;
    float: left;
    margin-left: 5px;
}
/*tung fix*/
ul.event_box li .right_info p
{
    padding-bottom: 10px;
    display: block;
}
ul.event_box li .right_info p span a
{
    font-size: 11px;
}
ul.event_box li a.nickname, .sharelink a.tit
{
    font-weight: bold;
}
ul.event_box li .right_info a.like_icon
{
    height: 14px;
    line-height: 14px;
   top left no-repeat;
    padding: 0 8px 1px 5px;
}
ul.event_box li .right_info a.like_icon:hover
{
    background-position: 0 bottom;
}
ul.event_box li .right_info span.date
{
    color: #8e8c8c;
    margin-right: 10px;
    font-size: 11px;
}
ul.event_box li .right_info span.date img
{
    margin-bottom: -4px;
}
ul.event_box li .right_info .sharelink
{
    float: left;
    margin-bottom: 10px;
    line-height: 16px;
}
ul.event_box li .right_info .sharelink .right
{
    width: 305px;
    float: left;
}
/*tung fix*/
ul.event_box li .right_info .sharelink img
{
    margin-right: 10px;
    border: 1px solid #CCC;
    padding: 1px;
}
ul.event_box li .right_info .sharelink img:hover
{
    border: 1px solid #999;
}
ul.event_box li .right_info .sharelink span, .sharelink span a
{
    color: #8e8c8c;
    font-size: 11px;
}
ul.event_box li ul.notice
{
    margin-left: 30px;
}
ul.event_box li ul.notice li
{
    float: left;
    border: 0;
    padding: 4px 0 2px 0;
    font-size: 11px;
}
ul.event_box li ul.notice li .list_friend
{
    width: 90%;
    padding: 10px 0 5px 0;
    float: left;
    margin-left: 27px;
}
ul.event_box li ul.notice li img
{
    margin: 0 5px 5px 0;
}
ul.event_box li ul.notice a, span.stt
{
    font-size: 11px;
}
ul.event_box li ul.notice .icon
{
    margin: 0 11px -4px 0;
}
.sharelink strong
{
    font-size: 11px;
    color: #666;
}
ul.event_box .title
{
    border-bottom: 1px solid #7f7f7f;
    height: 24px;
}
/*tung fix*/
ul.event_box .title h3
{
    font-size: 15px;
    float: left;
}
ul.event_box .title span
{
    float: right;
    font-size:11px;
    line-height: 22px;
    padding-top: 0px;
    color: #3d3d3d;
}
ul.event_box .title span img
{
    margin-bottom: -2px;
}
.bottom
{
    background: #262829  top repeat-x;
    margin: 0 0 10px 0;
    padding: 20px 0 20px 0;
}
.bottom .more_link
{
    display: block;
    margin: 10px 0 0 0;
    width: 100%;
    float: left;
    font-size: 11px;
}
.bottom .more_link span
{
    color: #727b81;
    font-size: 11px;
}
.bottom .more_link a
{
    color: #727b81;
    padding: 0 20px 0 0;
    border-right: 1px solid #727b81;
    font-size: 11px;
}
.bottom .more_link a.end
{
    border: 0;
    padding-left: 10px;
}
.bottom .more_link a:hover
{
    color: #FFF;
}
.bottom .gotop
{
    float: right;
}
.bottom .gotop a
{
    background: #282a2b  bottom repeat-x;
    color: #737c82;
    padding: 3px;
    font-size: 10px;
}
.bottom .gotop a:hover
{
    color: #FFF;
}
.bottom ul
{
    margin: 0 20px 0 0;
    float: left;
    width: 100px;
}
.bottom ul li
{
    float: left;
    width: 100%;
    height: 28px;
}
.bottom ul li a
{
    color: #a5b0b8;
    line-height: 16px;
    padding-bottom: 3px;
}
.bottom ul li span
{
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}
.bottom ul li a:hover
{
    color: #FFF;
    border-bottom: 1px dotted #a5b0b8;
}
.footer .copyright
{
    float: left;
    font-size: 11px;
}
.footer .copyright a
{
    color: #007ebf;
    font-weight: bold;
    font-size: 11px;
}
.footer .link
{
    float: right;
    padding-bottom: 10px;
    text-align: right;
}
.footer .link a
{
    padding: 0 8px 0 8px;
    border-right: 1px solid #999;
    font-size: 11px;
}
.footer .link a:hover
{
    color: #00a8ec;
}
.footer .link a.end
{
    border: 0;
    padding-right: 0;
}
.footer .link a.other_link
{
    float: right;
    font-weight: bold;
    color: #3d3d3d;
    margin-top: 10px;
    border: 0;
     bottom no-repeat;
    padding-right: 20px;
    background-position: 85px -28px;
}
/*RIGHT*/
.mod_hotmusic
{
    width: 180px;
    background: #ededed;
    float: left;
}
.slide_photo
{
    width: 180px;
    float: left;
    background: #e2e3e4;
}
.slide_photo ul
{
    width: 100%;
    float: left;
}
.slide_photo ul a.prev
{
    width: 10px;
    background:  top left no-repeat;
    float: left;
    display: block;
    line-height: 24px;
    margin-top: 5px;
}
.slide_photo ul a.prev:hover
{
    background-position: 0 -24px;
}
.slide_photo ul a.next
{
    width: 10px;
    background: top left no-repeat;
    float: right;
    display: block;
    line-height: 24px;
    margin-top: 5px;
}
.slide_photo ul a.next:hover
{
    background-position: 0 -24px;
}
.slide_photo ul li
{
    float: left;
    margin: 5px 1px 0 1px;
}
.slide_photo ul li.first
{
    margin-left: 30px;
}
.slide_photo ul li a
{
    font-size: 11px;
    color: #8f8d8e;
    padding: 3px 6px 5px 6px;
    float: left;
    font-weight: bold;
}
.slide_photo ul li a.active
{
    border-bottom: 3px solid #00aeef;
    background: #bdbdbd;
    color: #FFF;
}
.slide_photo ul li a:hover
{
    border-bottom: 3px solid #00aeef;
    background: none !important;
    color: #3d3d3d;
}
ul.list_clip
{
    width: 180px;
    float: left;
    background: #e4e5e6;
}
ul.list_clip li
{
    padding: 2px 0 2px 0;
    border-bottom: 1px solid #FFF;
    float: left;
    width: 100%;
}
ul.list_clip li.end
{
    border-bottom: 0;
}
ul.list_clip li .thumb img
{
    float: left;
    border: 1px solid #c2c2c2;
    padding: 1px;
    background: #FFF;
    margin: 5px;
}
ul.list_clip li .info
{
    width: 110px;
    float: left;
    margin: 3px 2px 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul.list_clip li .info a.tit
{
    font-size: 11px;
    color: #262525;
}
ul.list_clip li .info a.tit:hover
{
    color: #007ebf;
}
ul.list_clip li .info p.date
{
    color: #8e8c8c;
    font-size: 11px;
    padding: 2px 0 2px 0;
}
ul.list_clip li .info a.author
{
    color: #007ebf;
    font-size: 11px;
}
div.pages, div.pages_m
{
}
div.pages span, div.pages_m span
{
    color: #8f8d8e;
    font-weight: normal;
}
div.pages a, div.pages_m a
{
    padding: 3px 5px;
    font-weight: bold;
    color: #8f8d8e;
    line-height: 22px;
    height: 22px;
}
div.pages a:hover, div.pages_m a:hover
{
    border-bottom: 3px solid #00aeef;
    background: #FFF;
}
div.pages a.selected, div.pages_m a.selected
{
    background: #bdbdbd;
    border-bottom: 3px solid #00aeef;
    color: #FFF;
}
div.pages a.more_pages, div.pages_m a.more_pages
{
    font-weight: normal;
    border: 0;
    background: none;
    color: #008ec4;
    padding: 0;
}
div.pages_m a.more_pages2
{
    font-weight: normal;
    border: 0;
     no-repeat;
    background-position: 0px 4px;
    color: #008ec4;
    margin-left: 3px;
}
/*tung fix*/
div.pages_m a.first_pages2
{
    font-weight: normal;
    border: 0;
    no-repeat;
    background-position: 0px 4px;
    color: #008ec4;
}
/*tung fix*/
div.pages_m a.more_pages2:hover
{
    font-weight: normal;
    border: 0;
     no-repeat;
    background-position: 0px 4px;
    color: #008ec4;
}
/*tung fix*/
div.pages_m a.first_pages2:hover
{
    font-weight: normal;
    border: 0;
   no-repeat;
    background-position: 0px 4px;
    color: #008ec4;
}
/*tung fix*/
div.pages a.more_pages:hover, div.pages_ a.more_pages:hover
{
    font-weight: normal;
    border: 0;
    background: none;
    color: #008ec4;
    border: 0;
    text-decoration: underline;
}
div.pages_m a
{
    font-size: 11px;
    font-weight: normal;
}
div.pages_m a.end_page, div.pages_m a.end_page_s
{
     top left no-repeat;
    padding: 1px 5px;
    background-position: 0 4px;
    height: 4px;
}
div.pages_m a.first_page, div.pages_m a.first_page_s
{
   top left no-repeat;
    padding: 1px 5px;
    background-position: 0 4px;
    height: 4px;
}
div.pages_m a.first_page_s, div.pages_m a.end_page_s
{
    padding: 1px 1px;
}
div.pages_m a.end_page:hover, div.pages_m a.first_page:hover, div.pages_m a.first_page_s:hover, div.pages_m a.end_page_s:hover
{
    border: 0;
    background-position: 0 -21px;
}
ul.page li a.but_pre_s, ul.page li a.but_next_s
{
    width: 5px !important;
    height: 5px !important;
     top left no-repeat;
    margin-top: 8px !important;
    background-position: 10px -20px;
}
ul.page li a.but_next_s:hover
{
    border: 0;
    background-position: 10px -30px;
}
ul.page li a.but_pre_s
{
    background-position: -13px 0 !important;
    width: 5px !important;
}
ul.page li a.but_pre_s:hover
{
    background-position: -13px -10px !important;
    border: 0;
}
ul.small li
{
    margin: 0 1px !important;
    padding: 0 !important;
}
ul.small a
{
    font-size: 11px;
    padding: 0 5px 5px !important;
    line-height: 24px !important;
    height: 20px !important;
    font-weight: normal !important;
}
ul.small li a.but_pre, ul.small li a.but_next
{
    height: 10px !important;
    padding: 0 !important;
    margin-top: 8px !important;
}
.login_box, .register_box
{
    width: 540px;
    margin: auto;
    background: #FFF top repeat-x;
    padding: 10px 10px 30px 10px;
}
.login_box h2, .register_box h2
{
    width: 100%;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #c8c9cb;
    display: block;
    margin-bottom: 5px;
}
.login_box .alert
{
    border: 1px solid #fcac01;
    background: #ffefbd top left no-repeat;
    background-position: 30px 10px;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
}
.login_box .alert h3
{
    font-size: 16px;
}
.login_box .alert div
{
    padding-left: 70px;
}
.login_box .foot_login
{
    border-top: 1px solid #c8c9cb;
    padding-top: 10px;
    text-align: center;
}
.login_box ul
{
    width: 365px;
    margin: 10px auto 20px auto;
}
.login_box ul li
{
    float: left;
    line-height: 20px;
}
.login_box ul li.name
{
    width: 80px;
    font-weight: bold;
    color: #000;
    text-align: right;
    line-height: 24px;
}
.login_box ul li.name p
{
    margin-bottom: 7px;
}
.login_box ul li.value
{
    width: 250px;
    padding-left: 20px;
}
.login_box ul li.value .input
{
    width: 238px;
    padding: 4px 0 4px 0;
    color: #666;
    border: 1px solid #c7c7c7;
    margin-bottom: 10px;
    font-size: 11px;
    padding-left: 10px;
}
.login_box ul li.value p
{
    width: 100%;
    padding: 2px 0 2px 0;
    text-align: center;
    background: #eee;
    float: left;
    margin-top: 20px;
}
.login_box ul li.value p a
{
    font-weight: bold;
}
.login_box ul li.value p a:hover
{
    color: #017ec0 !important;
}
.register_box h3
{
    font-size: 14px;
    font-weight: 700;
    color: #00aeef;
    padding: 10px 0 10px 0;
    margin-top: 10px;
}
.register_box table
{
    background: #eeeeee;
    padding: 10px 0;
    width: 540px;
    border: 0;
}
.register_box td
{
    padding: 3px 0;
}
.register_box td.left
{
    color: #000;
    font-weight: bold;
    text-align: right;
    width: 150px;
}
.register_box td.right
{
    padding-left: 10px;
}
.register_box td.right p
{
    line-height: 23px;
}
.register_box input
{
    margin: 0 5px 0 0;
}
.register_box input.form
{
    border: 1px solid #c7c7c7;
    background: #FFF;
    height: 22px;
}
.register_box .rule
{
    width: 540px;
    padding: 5px 0;
    background: #eee;
}
.register_box .rule p
{
    margin: 0 10px;
}
.register_box .rule a
{
    color: #00aeef;
}
.register_box .rule a:hover
{
    color: #333;
}
.register_box .ser
{
    width: 100%;
    font-weight: 700;
    color: #00aeef;
    margin: 20px 0;
    padding: 0;
}
.qllm
{
    width: 790px;
    float: left;
    margin: 10px 0 0 0;
    background: #f6f6f6;
}
.qllm ul
{
    width: 770px;
    margin: 10px;
    float: left;
}
.qllm ul li
{
    width: 100%;
    padding: 10px 0;
    float: left;
}
.qllm ul li.end
{
    border-bottom: 1px solid #d8d9da;
}
.qllm ul li.first
{
    padding: 0;
}
.qllm ul li.first span
{
    font-weight: bold;
    color: #000;
}
.qllm ul a
{
    color: #007ebf;
}
.qllm ul a.nickname
{
    font-weight: bold;
}
.qllm ul a:hover
{
    color: #3d3d3d;
}
.qllm ul li span.info
{
    line-height: 18px;
    float: left;
    margin: 3px 10px 0 0;
}
.qllm ul li span.info a:hover
{
    text-decoration: underline;
}
ul.r_qllm
{
    width: 180px;
    margin-left: 10px;
    float: left;
}
ul.r_qllm h3
{
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
}
ul.r_qllm li
{
    width: 100%;
    padding: 3px 0;
    margin-bottom: 15px;
    float: left;
}
ul.r_qllm li a
{
    color: #007ebf;
}
ul.r_qllm li a.nick
{
    font-weight: bold;
}
ul.r_qllm li a:hover
{
    color: #3d3d3d;
    text-decoration: underline;
}
ul.r_qllm img
{
    float: left;
    margin-right: 10px;
}
ul.r_qllm li .del
{
    position: inherit;
    display: none;
}
ul.r_qllm li:hover .del
{
    display: block;
}
.line
{
    width: 100%;
    float: left;
    height: 2px;
    border-bottom: 1px solid #CCC;
}
.site_map
{
    width: 960px;
    margin: auto;
    margin: 40px 0 0 0;
    float: left;
}
.site_map span
{
    line-height: 30px;
    float: left;
    font-size: 11px;
}
.site_map a
{
    color: #027cbd;
    font-weight: bold;
}
.site_map a:hover
{
    color: #3d3d3d;
}
.tophead .top_avt
{
    float: left;
    border: 1px solid #FFF;
}
.tophead .nick
{
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #007ebf;
    margin: 0 0 5px 20px;
    float: left;
    display: block;
    float: left;
}
.tophead .top_blast
{
    width: 800px;
    background: #d9d8d8;
    padding: 10px;
    float: left;
    margin: 0 0 0 20px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.top_blast p
{
    width: 17px;
    height: 11px;
    top left no-repeat;
    margin: 0 0 0 -27px;
    position: absolute;
}
.blast_user_info
{
    width: 700px !important;
    margin-left: 250px !important;
}
.s_right
{
    width: 180px;
    margin-left: 10px;
    float: left;
    padding: 10px 0 10px 0;
}
.l_left
{
    width: 790px;
    float: left;
    padding: 10px 0 10px 0;
}
.l_left .top_search
{
    border: 1px solid #c7c7c7 !important;
    width: 228px;
    margin: 10px 0 0 0;
    padding: 0;
}
ul.list_news_r
{
    width: 230px;
    float: left;
    margin: 5px 0;
}
ul.list_news_r li
{
    padding: 3px 0;
    width: 100%;
    border-bottom: 1px solid #d8d9da;
    overflow: hidden;
}
ul.list_news_r li.top
{
    background: #d8d8d8;
    border-top: 1px solid #c0c2c3;
    border-bottom: 0;
}
ul.list_news_r li.top span
{
    font-size: 13px;
    font-weight: bold;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    line-height: 20px;
    text-align: left;
}
ul.list_news_r li span
{
    font-size: 11px;
}
ul.list_news_r li.end
{
    border: 0;
}
ul.list_news_r li a
{
    display: block;
    margin-left: 10px;
    line-height: 20px;
    font-size: 11px;
}
.list_gray
{
    background: #f3f3f3 !important;
    float: left;
}
.list_gray li
{
    padding: 5px 0 !important;
    border: 0 !important;
}
.list_gray li input
{
    width: 90%;
    background: #FFF;
    border: 1px solid #c7c7c7;
    padding: 4px;
    font-size: 11px;
    color: #c7c7c7;
    margin: auto 5px;
}
.list_gray li a
{
    margin-left: 5px !important;
}
.list_gray li .name
{
    font-weight: bold;
    float: left;
    line-height: normal !important;
}
.top_setting
{
    float: right;
    display: block;
    margin: 10px 0 0 0;
    width: 100%;
    text-align: right;
}
.top_setting a.active
{
    font-weight: bold;
    color: #3d3d3d;
}
.select_gray
{
    height: 20px;
    border: 1px solid #c7c7c7;
    color: #999;
}
.note
{
    width: 100%;
    float: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}
.note .img_thumb
{
    float: left;
    margin-right: 10px;
}
.note .sub_info, .note .sub_info a
{
    font-size: 11px;
    line-height: 16px;
}
.set_button
{
    float: right;
    position: relative;
    height: 18px;
    width: 50px;
}
.note a.title
{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    display: block;
}
.note .date
{
    font-size: 11px;
    color: #bdbcbc;
    line-height: 20px;
}
.note .author
{
    font-size: 11px;
    font-weight: bold;
}
.note .baiviet
{
    margin: 10px 0 0 0;
}
.note .baiviet p
{
    margin: 10px 0 0 0;
    line-height: 16px;
}
.note .info_note
{
    width: 100%;
    margin: 20px 0 10px 0;
    float: left;
    font-size: 11px;
}
.note .info_note a, .note .info_cat a
{
    font-size: 11px;
}
.note .info_cat
{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #d8d9da;
    border-top: 1px solid #d8d9da;
    float: left;
    font-size: 11px;
    margin: 5px 0;
    line-height: 15px;
}
.all_cat
{
    width: 100%;
    float: left;
    margin: 10px 0;
}
.all_cat h2
{
    font-size: 14px;
    font-weight: bold;
}
.all_cat span.info
{
    color: #a0a0a0;
    font-size: 11px;
}
.all_cat li
{
    float: left;
    padding: 10px 0;
    border-bottom: 1px solid #d8d9da;
    width: 100%;
}
.all_cat li img
{
    margin-bottom: -3px;
    float: left;
}
.all_cat li.end, .all_cat li.top
{
    border: 0;
}
.all_cat li.end, .all_cat li.top
{
    padding-bottom: 5px;
}
.info_pic
{
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #c0bfbf;
    border-bottom: 1px solid #c0bfbf;
    margin: 5px 0 10px 0;
    float: left;
}
.info_pic span
{
    line-height: 18px;
    width: 100px;
    float: left;
}
.info_pic li
{
    padding: 5px 0;
    width: 100%;
    margin: 1px 0;
    float: left;
}
.info_pic li select, .info_pic li input
{
    width: 450px;
    background: #FFF;
    padding: 4px 0;
    border: 1px solid #bdbcbc;
    float: left;
    font-size: 11px;
    color: #999;
}
.info_pic li input
{
    width: 488px !important;
}
.info_pic li.notice
{
    background: #f3f3f3;
    padding: 5px 0;
    float: left;
}
.info_pic li.notice span
{
    display: block;
    width: 500px !important;
    margin-left: 10px !important;
}
.info_pic li.notice .info
{
    color: #b4b3b3;
    font-style: italic;
    font-size: 11px;
}
.title_pic
{
    width: 100%;
    float: left;
    height: 20px;
    line-height: 25px;
    margin: 10px 0;
}
.title_pic img
{
    float: left;
    margin-top: 5px !important;
}
.title_pic span
{
    float: left;
    margin-right: 0 15px 0 10px;
}
h2.large
{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* Tung Css */
.main_content
{
   ;
    background-position: top center;
    background-repeat: repeat-y;
    width: 980px;
}
.large_logo
{
    padding-left: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.icon_menuleft
{
    float: right;
    margin-right: 6px;
}
.active_cate
{
    color: #fff;
    background-color: #44484c;
    padding: 5px 0px 5px 10px;
}
ul.left_nav div.active a:link, ul.left_nav div.active a:visited
{
    display: block;
    padding: 5px 0px 5px 10px;
    font-size: 11px;
    font-weight: normal;
    border: 0 none;
    background-image: none;
    color: #007ebf;
}
ul.left_nav div.active a:hover
{
    display: block;
    padding: 5px 0px 5px 10px;
    font-size: 11px;
    font-weight: normal;
    border: 0 none;
    background-image: none;
    color: #000;
}
.gobid_icon
{
    float: right;
    margin-top: -2px;
    margin-right: 4px;
}
.bot_menuleft
{
     ;
    background-repeat: repeat-x;
    height: 9px;
    margin-top: 5px;
}
.icon_col_left
{
    width : 16px;
    height : 16px;
    float: left;
    margin-right: 6px;
    margin-top:5px;
}
.bg_col_left
{
    background-color: #f2f2f2;
}
.title_vote
{
    padding-right: 6px;
    color: #007ebf;
    font-size: 11px;
    font-weight: bold;
}
.padright_center
{
    padding-left: 10px;
}
.info_event a:link, .info_event a:visited
{
    color: #007ebf;
}
.info_event a:hover
{
    color: #000;
}
.title_event
{
    font-weight: bold;
    font-size: 11px;
}
.info_event
{
    font-size: 11px;
    line-height: 16px;
    padding-top: 4px;
}
.info_event2
{
    font-size: 11px;
    float: right;
}
.icon_event
{
    width : 16px;
    height : 16px;
    margin-right: 5px;
    vertical-align:middle;
}
.img_photo
{
    border: solid 1px #d5d5d5;
}
.block_newsright li
{
    float: left;
    display: inline;
    font-size: 11px;
}
.block_newsright li a
{
    color: #007ebf;
    font-weight: bold;
}
.block_newsright li a:hover
{
    color: #000;
    font-weight: bold;
}
.block_newsright
{
    border-bottom: solid 1px #eceded;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 16px;
}
.showphoto
{
    width: 225px;
    display: block;
    overflow: hidden;
}
.btn_page
{
    background-color: #e6e6e6;
}
.topfiler
{
    ;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    padding-top: 10px;
}
.topfiler li
{
    float: left;
    display: inline;
}
.topfiler li.padli_filter
{
    margin-left: 13px;
    margin-right: 13px;
}
.topfiler li.padli_filter p
{
    padding: 4px 0px 4px 0px;
}
.vline_filter
{
    ;
    width: 2px;
    background-repeat: no-repeat;
    height: 77px;
}
.tab_filter a.button
{
    width: 160px;
    height: 35px;
    top left no-repeat!important;
    border: 0!important;
    margin-top: 5px;
}
.tab_filter a.button
{
    line-height: 35px;
    overflow: hidden;
}
.tab_filter a.button:hover
{
    
      bottom left no-repeat!important;
    cursor: pointer;
}
.topfiler span
{
    font-size: 11px;
}
.tab_filter
{
    padding-top: 8px;
}
.blockshare
{
    border-left: solid 1px #d5d5d5;
    padding-left: 10px;
}
.blockshare a
{
    font-size: 11px;
}
.home_content
{
    ;
    background-position: top center;
    background-repeat: repeat-y;
    width: 980px;
    margin: auto;
}
span.info_event a
{
    padding-top: 5px;
}
span.info_event a:hover
{
    background-color: #ccc;
    padding-top: 5px;
}
.tooltiphome
{
    background-color: #486885;
    width: 150px;
    position: absolute;
    margin-top: -8px;
    z-index: 12;
}
.tooltiphome a
{
    font-size: 11px;
    display: block;
    color: #ebebeb;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #344c62;
}
.tooltiphome a:hover
{
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}
.tooltiplogin
{
    background: #66ccff;
    width: 230px;
    border-bottom: solid 2px #e8e8e8;
    border-right: solid 2px #e8e8e8;
    position: absolute;
    z-index: 10;
    margin-top: -8px;
    margin-left: 2px;
}
.cont_tooltiplogin
{
    padding: 8px;
}
.cont_tooltiplogin li
{
    font-size: 11px;
    padding-bottom: 8px;
}
.cont_tooltiplogin li input.formtooltip
{
    border: solid 1px #b7b7b7;
    font-size: 11px;
    background-color: #FFF;
    height: 18px;
    width: 190px;
}
.t_toollogin
{
    color: #467f9c;
}
.cont_tooltiplogin li span a
{
    font-size: 11px;
    line-height: 20px;
}
.tabstyle_g
{
    float: right;
}
.tablogin a
{
    ;
    background-repeat: no-repeat;
    background-position: top left;
}
.tablogin a:hover
{
   ;
    background-repeat: no-repeat;
    background-position: top left;
}
.rightlogin
{
   ;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
}
.exit_top2
{
    float: right;
    line-height: 26px;
    margin: 4px 10px 0 0;
    color: #fff;
    background: #66ccff;
}
.exit_top2 a
{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 4px;
    display: block;
    color: #fff !important;
}
/* bar_index*/
#top_index
{
    height: 36px;
    background: #353535;
    border-bottom: 4px solid #00aeef;
    overflow: hidden;
}
#top_index a
{
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #d5d5d5;
}
#top_index a:hover
{
    color: #FFF;
}
.cont_top_index
{
    width: 980px;
    text-align: left;
    padding-top: 5px;
}
.top_index ul
{
    width: auto !important;
}
.top_index li
{
    float: left;
    display: inline;
}
li.listmenu_user_index ul li
{
    float: left;
    display: inline;
    padding: 0px !important;
    margin: 0px !important;
    width: auto !important;
}
.mvn
{
    width: 185px;
    float: left;
}
.mvn_a a
{
    ;
    background-position: 6px 4px;
    background-repeat: no-repeat;
    padding-left: 55px;
    background-color: #5c636b;
    display: block;
    padding-right: 10px;
    height: 31px;
    line-height: 30px;
    text-transform: uppercase;
}
.mvn_a a:hover
{
    ;
    background-position: 6px 4px;
    background-repeat: no-repeat;
    padding-left: 55px;
    background-color: #00adef;
    display: block;
    padding-right: 10px;
    height: 31px;
    line-height: 30px;
    text-transform: uppercase;
}
.mvn_a a.active
{
    ;
    background-position: 6px 4px;
    background-repeat: no-repeat;
    padding-left: 55px;
    background-color: #00adef;
    display: block;
    padding-right: 10px;
    height: 31px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff !important;
}
.drop_index
{
    float: right;
    position: absolute;
    z-index: 1009;
    margin-left: 157px;
}
span.drop_index a
{
    ;
    background-repeat: no-repeat;
    background-position: top left;
    height: 31px;
    width: 25px;
    display: block;
}
span.drop_index a:hover
{
    ;
    background-repeat: no-repeat;
    background-position: top left;
    height: 31px;
    width: 25px;
    display: block;
    position: relative;
    z-index: 1008;
}
li.friend_index
{
    width: 100px;
    float: left;
    margin-left: 8px;
}
.friend_index a
{
    background-color: #5c636b;
    height: 31px;
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 35px;
   ;
    background-repeat: no-repeat;
    background-position: 6px 6px;
}
.friend_index a:hover
{
    background-color: #00adef;
    height: 31px;
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 35px;
   ;
    background-repeat: no-repeat;
    background-position: 6px 6px;
}
.friend_index a.active
{
    background-color: #00adef;
    height: 31px;
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 35px;
    ;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    color: #fff !important;
}
.fnotify
{
    margin-left: 78px;
    margin-top: 2px;
}
.ava_index
{
    float: left;
    margin-right: 8px;
    border: solid 1px #c8d5de;
    margin-top: 1px;
    margin-left: 5px;
}
.menu_user_index
{
    float: left;
    margin-left: 8px;
}
.menu_user_index a
{
    float: left;
    background-color: #5c636b;
    height: 31px;
    display: block;
    line-height: 32px;
    font-size: 11px !important;
    padding-right: 100px;
}
.menu_user_index a:hover
{
    float: left;
    background-color: #00adef;
    height: 31px;
    display: block;
    line-height: 32px;
    font-size: 11px !important;
    color: #fff !importan;
}
.listmenu_user_index
{
    float: left;
    z-index: 1005;
    margin-left: -90px;
    position: relative;
}
.icon_index a
{
    ;
    background-repeat: no-repeat;
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    line-height: 20px;
    margin-right: 6px;
    margin-top: 6px;
    display: block;
}
.icon_index a.comment_index
{
    background-position: 0px -0px;
}
.icon_index a.comment_index:hover
{
    background-position: 0px -30px;
}
.icon_index a.rss_index
{
    background-position: -25px 0px;
}
.icon_index a.rss_index:hover
{
    background-position: -25px -30px;
}
.icon_index a.friend_index
{
    background-position: -54px 0px;
    margin-left: 4px;
}
.icon_index a.friend_index:hover
{
    background-position: -54px -30px;
}
.usernotify
{
    margin-left: 15px;
    float: left;
    margin-top: 2px;
}
.top_search
{
    width: 193px;
    height: 20px;
    border: 1px solid #595959;
    background-color: #FFF;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 0;
    float: right;
    display: block;
    position: relative;
    z-index: 1010;
}
/* tung fix*/
.top_search button
{
    background: #FFF top left no-repeat;
    width: 20px;
    height: 18px;
    border: 0;
    float: right;
    margin-top: 2px;
    float: right;
    position: relative;
    z-index: 1010;
}
.top_search button:hover
{
    cursor: pointer;
}
.top_search input
{
    float: left;
    width: 160px;
    height: 18px;
    border: 0;
    background: none;
    color: #CCC;
    font-size: 11px;
    margin-left: 10px;
}
.cpnel_index a span
{
    border-top: solid 1px #5c636b;
    border-left: solid 1px #5c636b;
    border-right: solid 1px #5c636b;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #5c636b;
    color: #d3d3d3;
    ;
    background-repeat: no-repeat;
    background-position: right -1px;
    padding-right: 25px;
}
.cpnel_index a:hover span
{
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #e7e7e7;
    color: #3d3d3d;
    ;
    background-repeat: no-repeat;
    background-position: right -1px;
    padding-right: 25px;
}
.cpnel_index
{
    float: right;
    z-index: 1008;
    position: relative;
    margin-top: -1px;
    margin-left: 8px;
}
.cpnel_index a
{
    display: block;
    height: 31px;
    background-color: #5c636b;
    float: left;
    line-height: 28px;
    text-transform: uppercase;
    border-top: solid 1px #353535;
    border-left: solid 1px #353535;
    border-right: solid 1px #353535;
}
.cpnel_index a:hover
{
    display: block;
    height: 31px;
    background-color: #00adef;
    color: #fff;
    border-top: solid 1px #a3a3a3;
    border-left: solid 1px #a3a3a3;
    border-right: solid 1px #a3a3a3;
    float: left;
    line-height: 30px;
    text-transform: uppercase;
}
.cpnel_index2
{
    float: right;
    z-index: 1008;
    position: relative;
}
.cpnel_index2 a
{
    display: block;
    height: 31px;
    background-color: #5c636b;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 8px;
}
.cpnel_index2 a:hover
{
    display: block;
    height: 31px;
    background-color: #00adef;
    color: #fff;
    float: left;
    line-height: 30px;
    text-transform: uppercase;
}
.tool_cpnel_index
{
    border: solid 1px #a3a3a3;
    width: 200px;
    position: absolute;
    margin-top: -2px;
    z-index: 1007;
}
.cont_tool_cpnel_index
{
    border: solid 1px #fff;
    background-color: #e7e7e7;
    display: block;
    height: 220px;
}
.username_index a
{
    font-size: 11px;
    font-weight: bold;
    color: #007ebf;
    line-height: 26px;
    float: left;
}
.username_index a:hover
{
    font-size: 11px;
    font-weight: bold;
    color: #000;
}
.username_index
{
    border-bottom: solid 1px #fff;
    padding-bottom: 6px;
}
.list_cpnel_index a
{
    border-bottom: solid 1px #fff;
    border-top: solid 1px #cfcfcf;
    display: block;
    font-size: 11px;
    color: #3d3d3d;
    padding-top: 4px;
    padding-bottom: 4px;
}
.list_cpnel_index a:hover
{
    border-bottom: solid 1px #fff;
    border-top: solid 1px #cfcfcf;
    display: block;
    font-size: 11px;
    color: #3d3d3d;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}
.cont_tool_cpnel_index
{
    padding: 6px;
}
.ava_cpnel
{
    float: left;
    margin-right: 8px;
}
.mapservice
{
    border: solid 1px #b5b5b5;
    position: absolute;
    z-index: 1007;
    margin-top: -2px;
    margin-left: -157px;
    float: left;
}
.colservice
{
    width: 173px;
}
.tabservice
{
    height: 30px;
}
.padmapservice
{
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 1px #fff;
    background-color: #e7e7e7;
}
.hotservice p
{
    color: #00adef;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.hotservice p a
{
    font-size: 11px;
    font-weight: bold;
    color: #00adef;
}
.hotservice p a:hover
{
    text-decoration: underline;
    color: #00adef;
}
.hotservice
{
    padding-bottom: 5px;
}
.listservice a
{
    padding-bottom: 5px;
    padding-top: 5px;
    ;
    background-position: 4px 10px;
    background-repeat: no-repeat;
    display: block;
    font-size: 11px;
    color: #3d3d3d;
    padding-left: 12px;
}
.listservice a:hover
{
    font-weight: bold;
    background-color: #dcdcdc;
}
.listservice a.active
{
    font-weight: bold;
}
.colservice
{
    float: left;
    display: inline;
}
.vline_service
{
    ;
    background-repeat: repeat-y;
    height: 250px;
    width: 2px !important;
}
/* bar_index*/
/*widget right_index*/
.topright_ad
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.block_widgetright a
{
    color: #017bbc;
    text-decoration: none;
}
.block_widgetright a:hover
{
    color: #000;
    text-decoration: none;
}
.info_widgetright
{
    padding-top: 4px;
    font-size: 11px;
    color: #8f8f8f;
}
.block_widgetright li
{
    float: left;
    display: inline;
}
.block_widgetright
{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: solid 1px #dcd6d8;
    z-index:0;
}
.topmedia_widgetright
{
    background-color: #6c6c6c;
    height: 27px;
    color: #fff;
    line-height: 26px;
    font-weight: bold;
}
.cont_media_widgetright
{
    border-right: solid 1px #d5d5d5;
    border-left: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 8px;
}
.cont_media_widgetright a
{
    ;
    height: 180px;
    display: block;
}
.cont_media_widgetright a:hover
{
  ;
    height: 180px;
    display: block;
}

.list_media_widgetright li
{
    float: left;
    display: inline;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: solid 1px #d5d5d5;
    width: 100%;
}
.list_media_widgetright li a
{
    color: #017bbc;
    text-decoration: none;
}
.list_media_widgetright li a:hover
{
    color: #000;
    text-decoration: none;
}
.show_info_widgetright
{
    padding-bottom: 6px;
    padding-top: 3px;
    padding-left: 22px;
}
/*widget right_index*/


/* CSS not login page */
.blog_404 {
    margin: auto;
    width: 1000px;
}
.topblog_404 {
    background-color: #EEEEEE;
    border: 1px solid #D8D8D8;
    margin: 20px 10px;
    padding: 10px 20px;
}
.topblog_404 span {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
}
.area_login_404 {
    font-size: 11px;
    margin-top: 10px;
}
.area_login_404 a {
    color: #027DC0;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.area_login_404 a:hover {
    color: #00B0F0;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}
.midleblog_404 {
    margin-left: 10px; margin-bottom: 10px;
}
.leftblog_404 {
    display: inline;
    float: left;
    width: 220px;text-align: center;
}
.rightblog_404 {
    display: inline;
    float: left;
     padding-left: 15px;
}
.rightblog_404 p {
    font-size: 11px;
}
.rightblog_404 a {
    color: #027DC0;
    font-size: 11px;
    text-decoration: none;
}
.rightblog_404 a:hover {
    color: #00B0F0;
    font-size: 11px;
    text-decoration: underline;
}
.namerightblog_404 a {
    font-size: 12px !important;
    font-weight: bold;
}
.optionblog_404 {
    padding-bottom: 6px;
    padding-top: 6px;
}
.listblog_404 {
    margin-top: 20px;
}
ul.listblog_404 li {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 50px;
}
ul.listblog_404 li a {
    display: block;
    width: 50px;
    word-wrap: break-word;
}
.backblog_404 {
    font-size: 11px;
    margin-top: 20px;
}
.footer .copyright {
   
    margin-bottom: 10px;
}
ul.focus_event li a
{
    padding-right:5px;
}